* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #1e282c;

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



.SideBar {
  position: fixed;
  z-index: 2;
  width: 20%;
  height: 100vh;
  background-color: #1e282c;
  color: #dfd9d9;
  display: flex;
  flex-direction: column;

  transition: width 0.5s ease-in-out;
}


.ContentContainer {
  padding-left: 21%;
  width: 98%;
  transition: padding-left 0.5s ease-in-out;
}


.ocultarModal {
  display: none;
}

.mostrarModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  margin-left: -1%;
  background-color: rgba(0, 0, 0, 0.611);
  z-index: 3;
}


.form {
  position: relative;
  width: 640px;
  height: 100%;
  padding: 50px 30px;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.formEditar {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #f5f5f5;
}


/*ESTILOS PARA EL FORMULARIO*/
input[type=text],
input[type=number],
input[type=email],
input[type=date],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eae9e9;
  color: #1e282c;
}

input[type=submit] {
  width: 100%;
  background-color: #eae9e9;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.botonEliminar {
  background-image: radial-gradient(100% 100% at 100% 0, #8b286a 0, #e30a56 100%);
}

.botonAgregar {
  background-image: radial-gradient(100% 100% at 100% 0, #323638 0, #262a48 100%);
}

.Login, .EmisorForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 15%;
}


.color {
  /* Añade el color de fondo */
  background-color: #5468FF;
  /* Añade el efecto de desenfoque */
  backdrop-filter: blur(5px);
  /* Añade la animación */
  animation: fadeIn 0.5s ease-in-out;
  width: 100%;

}
a {
  color: inherit;
  text-decoration: none;
}


.ContentContainer {
  padding-left: 21%;
  width: 98%;
  transition: padding-left 0.5s ease-in-out;
}

.ContainerMove {
  padding-left: 15%;
  width: 98%;
  transition: padding-left 0.5s ease-in-out;
}

p .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  font-size: 18px;
}


.dropdown-content {
  display: flex;
  flex-direction: column;
  margin-left:0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.dropdown-contentClick {
  max-height: 500px;
  /* you can adjust this value */
  transition: max-height 0.5s ease-in-out;
  font-weight: 200;
  margin-left: 0px;
}

.dropdown-content,
.dropdown-contentClick a {

  font-style: italic;
  font-size: 20px;
  cursor: pointer;
  font-weight: 100 !important;
}

.dropdown-content,
.dropdown-contentClick a:hover {
  color: #fbfbfb;
}



/*ESTILOS PARA SIDEBAR*/
.dropdown a {
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-weight: bold;
}

.dropdown-content a {
  font-weight: 300;
}


.mostrarForm {
  display: block;
  overflow: hidden;
  height: auto;
  max-height: 9999px;
  transition: max-height 4s ease-in-out;
}

.ocultarForm {
  display: block;
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}
